<head>
    <link rel="stylesheet" href="/css/footerStyle.css">
</head>
<footer>
    <div class="contenedor-footer">     
        <div class="cont-footer-uno">
            <img src="/images/logoDH.png" alt="logo" class="log-image">
            <div class="cont-footer-base">
                <p>Siguenos</p>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-solid fa-envelope"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </div>
        <div class="cont-footer-dos">
            <div>
                <h4>
                    Links útiles
                </h4>
                <a href="/nuestro-cafe"><p>
                    Sobre nuestro café
                </p></a>
                <a href="/recetas"><p>
                    Recetas
                </p></a>
                <a href="/productos"><p>
                    Productos
                </p></a>
            </div>
            <div>
                <h4>
                    Nuestras redes
                </h4>
                <div class="cont-footer-tres">
                    <div>
                        <a href="https://www.tiktok.com" target="_blank">
                            <i class="fa-brands fa-tiktok">    
                        </i></a>
                    </div>
                    <div>
                        <a href="https://www.instagram.com" target="_blank">
                            <i class="fa-brands fa-instagram">   
                        </a></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© we love coffee</p>
    </div>
</footer>