<header class = "contenedor-header">
    <img src="images/logoDH.png" alt="logo" class="log-image">
    <nav class = "contenedor-nav">
        <ul class = "caja-uno">
            <li><a href="/">Inicio</a></li>
            <li><a href="#">Conócenos</a></li>
            <li><a href="#">Café</a></li>
            <li><a href="/item">Menú</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        <ul class = "caja-dos">
            <li><a href="/cart">Carrito</a></li>
            <li>2</li>
            <li><a href="/login">Entra</a></li>
        </ul>
    </nav>
</header>