<head>
    <link rel="stylesheet" href="/css/headerStyle.css">
</head>
<header class = "contenedor-header">
    <a href="/"><img src="/images/logoDH.png" alt="logo" class="log-image"></a>
    <nav class = "contenedor-nav">
        <ul class = "caja-uno">
            <li><a href="/">Inicio</a></li>
            <li><a href="/nuestro-cafe">Conócenos</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/recetas">Recetas</a></li>
        </ul>
        <% // %>
        <ul class = "caja-dos">
            <li><a href="/cart">Carrito</a></li>
            <li>0</li>
            <li><a href="/user/login">Entra</a></li>
            <li><a href="/user/register">Registrate</a></li>
        </ul>
        <% /* %>
            <ul class = "caja-dos">
                <li><a href="/cart">Carrito</a></li>
                <li>0</li>
                <li><a href="/<%= user.username  %>/profile">Bienvenido, <%= users.username  %></a></li>
                <form action="/logout?_method=DELETE" method="POST"><button type="submit">Salir</button></form>
            </ul>
        <%*/%>
    </nav>
</header>