<div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">

        <div class="slide first"> <img src="/images/slide/slide1.jpg" alt=""> </div>
        <div class="slide"> <img src="/images/slide/slide2.jpg" alt=""> </div>
    </div>
        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
        </div>
        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
        </div>
        <script type="text/javascript">
            let slide = 1;
            setInterval(function(){
              document.getElementById('radio' + slide).checked = true;
              slide++;
              if(slide > 2){
                slide = 1;
              }
            }, 5000);
            </script>
</div>