<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cartStyle.css">
    <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <title>Carrito - Mercadito de café</title>
</head>
<body>
    <%- include("./partials/header") %> 
    <section>
        <h4>
            Carrito
        </h4>
        <div class="capsula-carrito">
            <table class="tabla-carrito">
                <tr>
                    <th>Item</th>
                    <th>Detalle</th>
                    <th>Tamaño</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                </tr>
                <tr>
                    <td><img scr="./images/products/img-burundi-espresso.jpg"></td>
                    <td>Café Colombia</td>
                    <td>250gr</td>
                    <td>$ 1500</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td><img scr="./images/products/img-costa-origin.jpg"></td>
                    <td>Café Brasil</td>
                    <td>1kg</td>
                    <td>$ 5500</td>
                    <td>1</td>
                </tr>
            </table>
        </div>
        <div class="contenedor-section">
            <div class="caja-uno">
                <h5>
                    Cupon
                </h5>
                <form action="/cupon" method="post">
                    <input type="text" name="cupon">
                    <input class="button-class" type="submit" name="enviar" value="Aplicar">
                </form>
            </div>
            <div class="caja-dos">
                <h5>
                    Calculadora de envio
                </h5>
                <form action="/cost-envio" method="post">
                    <label name="pais">
                        <select name="pais" selected="Pais">
                            <option value="col">Colombia</option>
                        </select>
                    </label>
                    <input class="input-class" type="text" name="ciudad">
                    <input class="input-class" type="number" name="codigo-postal">
                    <input class="button-class" type="submit" name="enviar" value="Calcular">
                </form>
            </div>
            <div class="caja-tres">
                <table class="subtotal-table">
                    <tr>
                        <th>Subtotal</th>
                        <td>$ 7000</td>
                    </tr>
                    <tr>
                        <th>Envio</th>
                        <td>$ 1000</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>$ 8000</td>
                    </tr>
                  </table>
                  <form action="#">
                    <input class="button-pay" type="submit" name="enviar" value="Ir al pago">
                </form>
            </div>
        </div>
    </section>
    <%- include("./partials/footer") %> 
</body>
</html>