<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/itemStyle.css">
    <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header class="contenedor-header">
        <img src="images/logoDH.png" alt="logo" class="log-image">
        <nav class="contenedor-nav">
            <ul class="caja-uno">
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Conócenos</a></li>
                <li><a href="#">Café</a></li>
                <li><a href="#">Menú</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
            <ul class="caja-dos">
                <li><a href="#">Carrito</a></li>
                <li>2</li>
                <li><a href="#">Entra</a></li>
            </ul>
        </nav>
    </header>
    <section class="descripcion">
        <div>
            <h5>Café de Colombia / Café 500gr </h5>
            <h3> Café 500gr</h3>
            <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                class="fa-solid fa-star"></i><i class="fa-solid fa-star" id="estrella"></i>
            <h6>5 estrellas</h6>
            <h4>$$$</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex rem beatae inventore exercitationem quod
                corrupti odit in ratione expedita ab cum reiciendis error, sit quaerat, mollitia commodi modi debitis
                ipsum.</p>
            <form action="/presentacion" method="post">
                <label>Seleccione una presentacion:</label>
                <select name="presentacion">
                    <option value="Estandar">Estandar</option>
                    <option value="Regalo">Regalo</option>
                </select>
            </form>
            <div class="cantidad">
                <input type="button" value="-" class="menos"><input type="number" step="1" min="1" max="" name="numero"
                    value="1" title="numero" class="numero" size="4" pattern="" inputmode=""><input type="button"
                    value="+" class="mas">
                <button type="submit" class="boton-comprar"> Comprar </button>
            </div>
        </div>
    </section>
    <section class="text-descripcion">
        <div><h3>Descripcion</h3>
            <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, suscipit aliquid. Officia recusandae
                pariatur libero soluta autem quam explicabo accusamus qui rem impedit earum molestiae optio et, nulla
                dolore sequi!</h5>
        </div>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum saepe eos voluptas doloremque itaque ex vero
            nobis dolore ipsa soluta debitis ea amet cupiditate sed et sequi fugit, perspiciatis ipsam!</p>
    </section>
    <section class="productos-relacionados">
        <div>Productos relacionados</div>
        <article class="producto">
            <img src="https://images.unsplash.com/photo-1519333796630-4b7d19ad1bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
            <img src="https://images.unsplash.com/photo-1519333796630-4b7d19ad1bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
            <img src="https://images.unsplash.com/photo-1519333796630-4b7d19ad1bb3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
        </article>
    </section>
    <footer>
        <div class="contenedor-footer">     
            <div class="cont-footer-uno">
                <img src="images/logoDH.png" alt="logo" class="log-image">
                <div class="cont-footer-base">
                    <p>Siguenos</p>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-solid fa-envelope"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="cont-footer-dos">
                <div>
                    <h4>
                        XXXXX
                    </h4>
                    <p>
                        xxxxxxx
                    </p>
                    <p>
                        xxxxxxx
                    </p>
                    <p>
                        xxxxxxx
                    </p>
                </div>
                <div>
                    <h4>
                        XXXXX
                    </h4>
                    <p>
                        xxxxxxx
                    </p>
                    <p>
                        xxxxxxx
                    </p>
                    <p>
                        xxxxxxx
                    </p>
                </div>
                <div>
                    <h4>
                        Entradas recientes
                    </h4>
                    <div class="cont-footer-tres">
                        <div>
                            <img scr="" alt="image">
                            <a href="">
                                xxxxxxx
                            </a>
                        </div>
                        <div>
                            <img scr="" alt="image">
                            <a href="">
                                xxxxxxx
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© we love coffee</p>
        </div>
    </footer>
</body>

</html>