<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../public/css/loginStyle.css">
    </head>
    <body>
        <%- include("./partials/header") %>


            <div class="container">
                <h1>Ingresar</h1>
            <form action="#" method="POST">
                <div><input type="text" class="field" placeholder="Usuario"></div>
                <div><input type="password" class="field" placeholder="Contraseña"></div>
                <label class="checkRecordar" for="recordar">Recordarme<input type="checkbox" name="recordar" id="recordar"></label>
                <div><input class="btn" type="submit" value="Ingresar"></div>
                <h6 class="recuperarContrasena"><a href="#"> ¿Olvidaste tu contraseña? </a></h6>
            </form>

        </div>
        <%- include("./partials/footer") %>
    </body>
</html>