<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/loginStyle.css">
    </head>
    <body>
            <div class="container">
                <h1>Ingresar</h1>
            <form action="#" method="POST">
                <input type="text" class="field" placeholder="Usuario">
                <input type="password" class="field" placeholder="Contraseña">
                <input type="checkbox" name="recordar" id="recordar"><h5>Recordar credenciales</h5>
                <input class="btn" type="submit" value="Ingresar">
            </form>
            <h6 class="recuperarContrasena"><a href="#"> ¿Olvidaste tu contraseña? </a></h6>
        </div>

        <footer>
            <p class="madeby"> made with ❤️ by grupo 12 =) </p>
        </footer>
    </body>
</html>