<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nuestro café - Mercadito de café</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/nuestroStyle.css">
</head>

<body>
    <%- include("./partials/header") %>

        <div class="container">
            <h3>¿Qué es el café de especialidad?</h3>
            <h6>Fuente: Perfectly daily grind</h6>
            <div class="blog">
                 
                <span><img src="../images/nuestro/nuestroCafe1.jpg" class="img img1"></span> 
                    <h4>CAFÉ DE ESPECIALIDAD: DEFINICIÓN TÉCNICA</h4>
                <p>    
                    Antes de empezar a compartir las opiniones de los profesionales, veamos rápidamente la definición técnica.
                      
                    Todos los granos de café se pueden clasificar sobre 100. Este proceso de calificación se llama “catación”. Y de acuerdo con Specialty Coffee Association (SCA), el café de especialidad es café Arábica con una puntuación de taza de 80 + puntos.
                                           
                    El café debe haber sido catado por un  Q grader certificado. Además de eso, demasiados defectos en una muestra de los granos de café verde, sin tostar se descalifica automáticamente del estado de especialidad.
                      
                    Esto diferencia a la especialidad del café “gourmet”, que no tiene una definición estricta. El café gourmet podría ser de alta calidad, o simplemente podría ser mercadeo.                     
                </p>
                <span><img src="../images/nuestro/nuestroCafe2.jpeg" class="img img2"></span> 
                <h4>¿EL CAFÉ DE ESPECIALIDAD SOLO SE TRATA DE LOS GRANOS?</h4>
                <p>
                    Herbert Peñaloza, gerente de calidad y director de 575 Café en Colombia, explica que los productores de café especiales deben prestar atención a la calidad en cada etapa. Debido a que los granos no pueden tener (muchos) defectos, se necesitan cultivar cuidadosamente las plantas de café  y cosechar en el momento adecuado, los productores deben cumplir con las mejores prácticas de procesamiento y también se deben seguir protocolos de almacenamiento.
                      
                    Pero ¿qué pasa con el tueste y la preparación? Hay un debate sobre la medida en que estos pueden ser considerados de especialidad.
                      
                    En 2009, Ric Rhinehart, director ejecutivo de SCAA (que desde entonces se ha fusionado con SCAE para convertirse en SCA), dijo oficialmente que el café especial era más que solo producción y procesamiento. En un blog en el sitio web de SCAA, escribió: “La experiencia final depende de que ningún actor en la cadena abandone el bastón …. [Debemos] crear una definición para especialidad en cada etapa del juego” .
                      
                    Preparación, espresso, barista y habilidades de tostador … hoy en día, hay estándares SCA o certificaciones para todos ellos.
                      
                    Carlos De La Torre, fundador de Avellaneda Café en la ciudad de México, está de acuerdo. “La calidad y el buen trabajo deben hacerse en todas las etapas de la cadena, desde la semilla a la taza.” (Traducido del español al inglés por el autor.)
                      
                    Sin embargo, para otros, los estilos de tostado y los métodos de preparación clasifican dentro del café de la tercera ola (o incluso la cuarta onda).
                </p> 
                <span><img src="../images/nuestro/nuestroCafe3.jpg" class="img img3"> </span>     
                <h4>CAFÉ DE ESPECIALIDAD VS CAFÉ DE TERCERA OLA</h4>
                <p> 
                    Tiendas de café de especialidad, tiendas de café de la tercera ola … escucharán a la gente hablar de esto como si fueran intercambiables. ¿Pero lo son?
                      
                    Kris Schackman, CEO de Five Elephant Coffee en Berlín, me dijo: “Piensa en una película. El café de especialidad es la imagen, la película que estás viendo, y la tercera ola es el cine en el que lo estás viendo “.
                      
                    ¿Confundido? Viktor Dobai, cofundador del servicio de suscripción de café Bean Bros, me da un ejemplo más concreto: “El café de la tercera ola puede ser el movimiento que da sentido al café que estás bebiendo. Puedes saber dónde crece  exactamente el café, quiénes son los agricultores, qué método de procesamiento utilizan después de la cosecha. Te cuenta la historia que hay detrás del café.
                      
                    Si el café en sí es de especialidad, las actitudes que rodean a ese café son de tercera ola. En cuanto a cómo se prepara el café – bueno, SCA da recomendaciones sobre dosis, temperatura, tiempo de contacto, y más.
                      
                    Pero la tendencia hacia la preparación manual: ¿e de especialidad o es tercera ola? ¿El deseo de probar diferentes variedades de café? ¿La emoción que viene de una hermosa floración, ese momento cuando los granos de café reaccionan a la primera dosis de agua? Podrías pasar el tiempo debatiendo estos puntos.
                </p> 
                <span><img src="../images/nuestro/nuestroCafe4.jpg" class="img img4"></span>   
                <h4>¿LA TERCERA OLA REPRESENTA LA ESPECIALIDAD?</h4>
                <p>
                Aunque el café de especialidad y la tercera ola no tienen que ir juntos, pueden complementarse muy bien. Sin embargo, Kris dijo: “Algunas personas encuentran [la tercera ola] muy inaccesible, algo que no es para ellos, y no queremos eso”.
                  
                Él no es la única persona que está preocupada por esto. Sebastián Villamizar, gerente de Relaciones con Clientes de la finca y cafetería La Palma y El Tucán en Colombia, comentó: “Puedes tener un café de 86+ y prepararlo perfectamente, pero si el consumidor no entiende lo que hay detrás, no importa cuán bueno sea el café. Necesitamos tener las herramientas y la información para transmitirla a otros. Necesitamos que estar informados”
                
            </p> 
                <span><img src="../images/nuestro/nuestroCafe5.jpg" class="img img5"></span>    
                <h4>DIFERENTES INTERPRETACIONES DE CAFÉ DE ESPECIALIDAD</h4>
                <p>               
                    Escucharás diferentes definiciones de café de especialidad en todo el mundo. Y mientras que los profesionales del café especial se adhieren a las estrictas directrices de SCA, estas diferentes perspectivas pueden ayudarnos a entender el papel del café en la vida de las personas y las culturas.
                      
                    Viktor dijo que él cree, que para la mayoría de la gente, el café especial sólo significa gran café. Añadió: “Definitivamente hay diferentes entendimientos u opiniones sobre lo que significa un café bueno o grandioso, cómo se debe procesar mejor, tostar y preparar”.
                      
                    Sajjad Navader es un revendedor independiente de café especial y de equipo de café en Irán. Me dice que piensa que los diferentes países tienen sus propias explicaciones al respecto.
                      
                    Igualmente, Carlos dijo “Si hablas de café como una bebida o como un lugar, una tienda, definitivamente son diferentes, no sólo en diferentes países, sino en una ciudad”.
                      
                    Herbert está de acuerdo, señalando también las diferencias entre la comprensión de la especialidad en los países productores de café y los países consumidores. Sugirió que hay una falta de información en ciertos lugares, tanto entre los productores como entre los consumidores.
                
            </p> 
                <span><img src="../images/nuestro/nuestroCafe6.jpg" class="img img6"></span>  
                <h4>COMUNICANDO EL CAFÉ DE ESPECIALIDAD</h4>
                <p>

                    Sebastián comentó que, cuando habla con otros productores de café de Centroamérica, cree que ellos tienen la misma comprensión del café especial. “Todos hablamos el mismo idioma”.
                      
                    Sin embargo, también piensa que, como productores, tienen la responsabilidad de “educar” a la gente sobre esto.
                      
                    Él considera que los productores no suelen tener toda la información y herramientas para evaluar la calidad de su café.
                      
                    Esto es algo que también Herbert cree. Dijo que el control de calidad se hace a menudo por la vista solamente. “Si los granos se ven bien, son buenos – ¡pero eso no es suficiente!-“
                      
                    Sebastián  dijo que sería bueno que todo el mundo entendiera las catas de café, los métodos de preparación  y todo lo que tiene que ver para producir café.
                      
                    Por otro lado, Kris argumentó que es un reto personal explicar el trabajo detrás de una taza de café a alguien que no ha visitado una finca. “Es difícil saber y entender si no lo has experimentado”, explicó.
                      
                    Sin embargo, él cree que los medios sociales ayudan. Puede mostrar al consumidor lo que hay detrás de la taza y facilitar la comunicación con los productores.
                      
                    Y es esa comunicación que, para Octavio Ruiz, fundador de Almanegra Café en la Ciudad de México, es clave. “Tienes que hacer relaciones con productores, agricultores, compradores, etc. Construyes relaciones con personas que buscan calidad en el café, y entonces puedes percibir todo el trabajo duro en una taza”.
            
            </p> 
                <span><img src="../images/nuestro/nuestroCafe7.jpg" class="img img7"></span>    
                
                <h4>PALABRAS FINALES</h4>
                <p> 
                    Hemos escuchado algunas definiciones complejas para el café de especialidad, pero al final, se trata  de crear un buen café. Ya sea que los productores estén cosechando y procesando cuidadosamente sus cultivos; los Q graders buscando perfiles de sabor complejos; los tostadores seleccionando diferentes curvas de tostión o los baristas instalando cuidadosamente su equipo, el objetivo es el mismo.
                      
                    Así que mi pregunta es: ¿para ti, qué significa café de especialidad?
                      

                <h6>Traducido por Alejandra M Hernández  y Karla Ly
                Perfect Daily Grind</h6>
            </div>
            </p>
        </div>

        <%- include("./partials/footer") %>
    </body>
</html>