<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/registerStyle.css">
    </head>
    <body>
        <%- include("./partials/header") %>
        
        <div class="container">
            <h3>Registrarse</h3>
            <form id="register" enctype="multipart/form-data">
                <div>
                    <input id="fullName" type="text" class="field" placeholder="Nombre y apellido" name="fullName">
                    <label for="fullName" class="label-input"></label>
                </div>
                <div>
                    <input id="userName" type="text" class="field" placeholder="Usuario" name="user">
                    <label for="user" class="label-input"></label>
                </div>
                <div>
                    <input id="password" type="password" class="field" placeholder="Contraseña" name="password">
                    <label for="password" class="label-input"></label>
                </div>
                <div>
                    <input id="passwordConfirmation" type="password" class="field" placeholder="Confirmar contraseña" name="passwordConfirmation">
                    <label for="passwordConfirmation" class="label-input"></label>
                </div>
                <div>
                    <input id="email" type="email" class="field" placeholder="Email" name="email">
                    <label for="email" class="label-input"></label>
                </div>
                <div class="input-select">
                    <div class="imgUpload">
                        <label id="avatar" for="img" class="avatar-text">Avatar de usuario</label>
                        <br><input type="file" for="img" id="foto" name="avatarUser" class="form-input">
                    </div>
                </div>
                <div><button class="btn-save" type="submit" value="Registrarse">Registrarse</button></div>
                <h4 id="alert">
                    <div class="alertOK"></div>
                    
                </h4>
            </form>
        </div>
        
        <%- include("./partials/footer") %>        
        <script src="./js/registerUser.js"></script>
    </body>
</html>