<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/5cc45362ff.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./css/registerStyle.css">
    </head>
    <body>
        <%- include("./partials/header") %>

        <div class="container">
                <h3>Registrarse</h3>
            <form action="#" method="POST">
                <div>
                    <input type="text" class="field" placeholder="Nombre y apellido" name="fullName">
                    <label for="fullName" class="label-input"></label>
                </div>
                <div>
                    <input type="text" class="field" placeholder="Usuario" name="user">
                    <label for="user" class="label-input"></label>
                </div>
                <div>
                    <input type="password" class="field" placeholder="Contraseña" name="password">
                    <label for="password" class="label-input"></label>
                </div>
                <div>
                    <input type="password" class="field" placeholder="Confirmar contraseña" name="passwordConfirmation">
                    <label for="passwordConfirmation" class="label-input"></label>
                </div>
                <div>
                    <input type="email" class="field" placeholder="Email" name="email">
                    <label for="email" class="label-input"></label>
                </div>
                <div>
                    <input type="date" class="field" placeholder="" name="birthDate">
                    <label for="birthDate" class="label-input"></label>
                </div>

                <div class="input-select">
                    <div type="select" class="field" id="ubicacion">
                        <select class="field" name="country" id="ubi-select">
                            <option value="">Ubicación</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Argentina">Argentina</option>
                        </select>
                </div>
                </div>
                <div><input class="btn-save" type="submit" value="Registrarse"></div>
            </form>
        </div>

        <%- include("./partials/footer") %>
    </body>
</html>