<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mercadito de café - Crear cuenta</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/registerStyle.css">
    </head>
    <body>
        <main class="login">
            <div class="container">
                <h1>Ingresar</h1>
            <form action="/" method="POST">
                <input type="text" class="field" placeholder="Nombre de usuario">
                <input type="password" class="field" placeholder="Elegí tu contraseña">
                <button class="btn" type="submit" value="Entrar">
            </div>
            </form>
            <div class="recuperarContrasena">
                <a href="#" >¿Olvidaste tu contraseña?</a>
            </div>
        </main>
        <footer>
            <p>&#x3c; &#47; &#x3e; with ❤️ by grupo 12 =) </p>
        </footer>
    </body>
</html>