*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

section {
    padding-left: 5%;
    padding-right: 5%;
}

section h4 {
    font-size: 20px;
    font-style: normal;
    padding-bottom: 10px;
}

.tabla-carrito {
    border-radius: 5px;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.tabla-carrito th {
    padding: 15px;
    padding-top: 25px;
    border-bottom: 1px solid black;
  }

.tabla-carrito td {
    padding: 60px 40px;
}

.tabla-carrito tr td {
    border-bottom: 1px solid black;
    width: 8px;
}

.tabla-carrito tr:last-child
{
   border-bottom: none;
   padding: 0;
}

.tabla-carrito tr { 
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
}

.tabla-carrito td, th {
    flex: 1 1 150px;
}
td img{
    max-width: 150px;
    height: auto;
}

form input, form label select {
    margin-top: 4px;
    background-color: rgba(128, 128, 128, 0.5);
    height: 25px;
    border-radius: 2px;
    border-width: 0px;
}

.button-class {
    background-color: #000;
    color: white;
    text-align: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
}

.contenedor-section {
    padding-top: 20px;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}

.contenedor-section h5 {
    padding-bottom: 5px;
}

.contenedor-section .caja-uno,
.contenedor-section .caja-dos,
.contenedor-section .caja-tres
 {
    display: flex;
    flex-direction: column;
    flex-grow: 0.30;
    margin: auto;
    padding-bottom: 20px;
}

.caja-dos form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.caja-dos form label select {
    width: 100%;
}

.subtotal-table {
    table-layout:fixed;
}

.button-pay {
    width: 100%;
    margin-top: 15px;
    background-color: white;
    color: #000;

}


@media (min-width: 361px){


    .tabla-carrito tr { 
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0.5em 0;
    }

    .tabla-carrito td, th {
    flex: 1 1 150px;
    }

    .contenedor-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 769px){

    .contenedor-section{
        justify-content: space-between;
        flex: 1;
    }

    .contenedor-section .caja-uno,
    .contenedor-section .caja-dos,
    .contenedor-section .caja-tres
    {
        margin: 0;
    }

}