*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
.container-form{
    margin-left: 33%;
    align-items: center;
    height: 700;
}

.col-12 {
    text-align: center;
}

 h2{
    width: 50%;
    color: rgb(39, 39, 39);
    font-size: 36px;
    margin: 32px auto;
    margin-bottom: 20px;
    text-align: center;
}

.form-input {
    position: relative;
    height: 45px;
    width: 45%;
    margin-bottom: 17px;
}

input{
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    transition: border .2s, background-color .3s;
    border: solid transparent;
} 
::placeholder {
    color: rgb(39, 39, 39)
}
input:focus::placeholder {
    color: transparent;
    transition: 0.4s;
}

textarea {
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    transition: border .2s, background-color .3s;
    border: solid transparent;
}

select{
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    transition: border .2s, background-color .3s;
    border: rgb(39, 39, 39);
}
.btn-foto{
    background-color: black;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    width: 25%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    transition: 0.2s;
    border-radius: 3px;
}

.btn-save{
    background-color: black;
    color: #fff;
    line-height: 25px;
    margin-left: 35%;
    cursor: pointer;
    width: 25%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    transition: 0.2s;
    border-radius: 3px;
}
button {
    flex: auto;
    margin-top: 50%;
}

.btn-save:hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;

}

.btn-save:active {
    background-color: black;
    border: 2px solid #6e6e6e;
}


span{
    display:block;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(129, 70, 70);
    color: red(39, 39, 39);
    border-color: rgb(92, 0, 0);
    width: 250px;
    margin-left: 7%;
    padding: 3px;
    margin-bottom: 15px;
    animation: 0.5s ease-out 0s 1 desdeIzq;
}
@keyframes  desdeIzq{
    0% {transform: translateX(5%);}
    25% {transform: translateX(-5%);}
    50% {transform: translateX(5%);}
    75% {transform: translateX(-5%);}
    100% {transform: translateX(0%);}
}


@media (min-width: 361px){

    .input-select {
        width: 102%;
        margin-left: 26px;
    }
}

@media (min-width: 769px){

    .columna-form:not(.btn-save) {
        float: left;
        width: 50%;    
      }
}