*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #ebebeb;
}

.home {
    padding-bottom: 40px;
}

.container-filtred h3 {
    text-align: center;
    font-size: 24px;
    padding: 35px;
    align-items: center;
}
.err404 {
    margin-left: 15%;
    margin-top: 6%;
    margin-bottom: 7%;
}
.plus-button {
    border: none;
    display: flex;
    margin: 25px;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 39, 39);
    color: gainsboro;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    transition: border .2s, background-color .3s;
}

.plus-button:hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;
}
    
.plus-button:active {
    background-color: black;
    border: 2px solid #6e6e6e;
}

@media (min-width: 361px){

    
    
}

@media (max-width: 769px){
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    
}