*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

footer {
    background-color: #ebebeb;
}

footer .cont-footer-uno img {
    margin: auto;
    width: 120px;
    align-items:baseline;
    margin: auto;
}

footer .contenedor-footer {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

footer .cont-footer-uno {
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
}

footer .cont-footer-tres {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: row;
    margin: auto;
    padding: 2px;
}

.fa-brands {
    padding: 10px;
}

footer .cont-footer-base p,
footer .cont-footer-base i {
    padding: 4px;
}

footer .copyright {
    display: block;
    border-top: 1px solid black;
    text-align: center;
    margin-top: 5px;
    padding-top: 10px;
    flex-wrap: wrap;
}

footer .contenedor-footer h4 {
    padding-bottom: 5px;
}

footer .cont-footer-dos {
    display: flex;
    justify-items:stretch;
    justify-content:space-around;
    flex-grow: 0.5;
    flex-direction: row;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}

a:visited {
    color: rgba(39, 39, 39)
}


@media (min-width: 361px){



}

@media (min-width: 769px){

    footer .contenedor-footer {
        margin-right: 15%;
    }
}
