*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    margin: auto;
    padding: 20px;
}

header img {
    width: 150px;
    margin-left: 7%;
}

.contenedor-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.contenedor-header img {
    flex-grow: 30%;
    justify-content: center;
    text-align: center; 
    margin: auto;
}

header .contenedor-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contenedor-nav {
    flex-grow: 0.60;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
}

.contenedor-header .caja-uno {
    display: flex;
    padding: 10px 40px;
    border-radius: 30px;
    background-color: gainsboro;
    justify-content: center;
    text-align: center; 
    align-items: center;
    margin: auto;
    flex-direction: column;
}
.caja-login {
    display: flex;
    border-radius: 30px;
    background-color: gainsboro;
    justify-content: center;
    text-align: center; 
    flex-direction: column;
}

.contenedor-header .caja-dos {
    display: flex;
    align-items:flex-end;
    justify-content: center;
    text-align: center; 
    margin: auto;
}

.contenedor-nav ul li a{
    text-decoration: none;
    color: rgba(39, 39, 39, 39);
    display: inline-block;
    padding: 7px 7px;
    font-size: 17px;
}

.contenedor-nav ul li{
    list-style-type: none;
    margin: auto;
}

.caja-uno li{
    display: inline-block;
    position: relative;
}

.caja-uno li::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: rgba(39, 39, 39);
    transition: width 0.25s ease-out;
}

.caja-uno li:hover::before {
    width: 100%;
    opacity: 50%;
}
.logout-button {
    margin: 7%;
    padding: 3% 6% 3%;
    background-color: rgba(39, 39, 39);
    color: gainsboro;
    cursor: pointer;
    border-radius: 3px;
    transition: border .2s, background-color .3s;
}

.logout-button :hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;
}
    
.logout-button :active {
    background-color: black;
    border: 2px solid #6e6e6e;
}



@media (min-width: 361px){

    header {
        margin: auto;
        padding: 50px 50px;
    
    }

    .contenedor-header{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-header img {
        flex-grow: 30%;
        justify-content: center;
        text-align: center; 
        margin: 23%;
    }

}

@media (min-width: 769px){

    .contenedor-header{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .contenedor-header .caja-uno {
        flex-direction: row;
        margin-left: 5%;
    }

    .contenedor-header .caja-dos {
        justify-content: left;
        text-align: left;
        align-items:flex-start;
        margin: 0px;
    }

    .contenedor-header img {
        margin: 0;
    }
}