*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: #ebebeb;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
    background-color: gainsboro;
    border-radius: 5px;
    padding: 20px;
}
.card .img{
    position: relative;
    width: 300px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .details{
    position: relative;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
}
h4{
    padding-left: 7px;
}
.description{
    padding-left: 15px;
}

button {
    margin: 20px;
    background-color: rgba(39, 39, 39);
    color: gainsboro;
    cursor: pointer;
    border-radius: 3px;
    transition: border .2s, background-color .3s;
}

button:hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;
}
    
button:active {
    background-color: black;
    border: 2px solid #6e6e6e;
}










