*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
.container{
    margin: 20px auto;
    padding: 5px;
    width: 400px;
    height: 400px;
    background-color: gainsboro;
    border-radius: 10px;
} 
 h1{
    width: 50%;
    color: rgb(39, 39, 39);
    font-size: 36px;
    margin: 32px auto;
    margin-bottom: 20px;
    text-align: center;
}
form{
    text-align: center;
}
input{
    padding: 12px 0; 
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    display: 100%;
    font-size: 16px;
    transition: border .2s, background-color .3s;
} 
form .field{
    background-color: whitesmoke;
    width: 65%;
}
h5{
    width: 50%;
    font-size: 16px;
    text-align: center;
    color: black;
}

form .btn{
    background-color: black;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    width: 65%;
}
form .btn:hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;
}

form .btn:active {
    background-color: black;
    border: 2px solid #6e6e6e;
}

h6{
    width: 50%;
    font-size: 16px;
    margin: 10px auto;
    text-align: center;
    color: black;
}

@media (min-width: 361px){


}

@media (min-width: 769px){

}