*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.container{
    margin: 20px auto;
    padding: 5px;
    width: 400px;
    height: 500px;
    background-color: gainsboro;
    border-radius: 10px;
} 

 h3{
    width: 50%;
    color: rgb(39, 39, 39);
    font-size: 36px;
    margin: 32px auto;
    margin-bottom: 20px;
    text-align: center;
}

form{
    text-align: center;
}

input{
    padding: 12px; 
    margin-bottom: 25px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    display: 100%;
    font-size: 16px;
    transition: border .2s, background-color .3s;
} 
form .field{
    background-color: whitesmoke;
    width: 65%;
}
h5{
    width: 50%;
    font-size: 16px;
    text-align: center;
    color: rgb(39, 39, 39);
}

form .btn{
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    width: 65%;
}
form .btn:hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;
}

form .btn:active {
    background-color: rgb(39, 39, 39);
    border: 2px solid #6e6e6e;
}

h6{
    width: 50%;
    font-size: 12px;
    margin: auto;
    text-align: center;
}

::placeholder {
    color: rgb(39, 39, 39)
}
input:focus::placeholder {
    color: transparent;
    transition: 0.4s;
}

.text-danger{
    display:block;
    border-radius: 3px;
    background-color: rgb(129, 70, 70);
    color: red(39, 39, 39);
    border-color: rgb(92, 0, 0);
    padding: 3px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 15px;
    animation: 0.5s ease-out 0s 1 desdeIzq;
}
@keyframes  desdeIzq{
    0% {transform: translateX(5%);}
    25% {transform: translateX(-5%);}
    50% {transform: translateX(5%);}
    75% {transform: translateX(-5%);}
    100% {transform: translateX(0%);}
}

@media (min-width: 361px){


}

@media (min-width: 769px){

}