*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #ebebeb;
}

h3 {
    color: rgb(39, 39, 39);
    font-size: 36px;
    margin: 32px auto;
    margin-bottom: 20px;
    text-align: center;
} 

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}

.receta {
    width: 350px;
    background-color: gainsboro;
    border: 1px solid rgba(39, 39, 39);
    margin: 20px;
    border-radius: 5px;
}
img{
    width: 100%;
    height: 100%;
    max-height: 170px;
    object-fit: cover;
    object-position: center;
}
.rec-title {
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.texto span {
    color: rgba(39, 39, 39);
}