*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

.container{
    margin: 20px auto;
    padding: 5px;
    width: 400px;
    height: 800px;
    background-color: gainsboro;
    border-radius: 10px;
} 

 h3{
    width: 50%;
    color: rgb(39, 39, 39);
    font-size: 36px;
    margin: 32px auto;
    margin-bottom: 20px;
    text-align: center;
}

form{
    text-align: center;
}

input{
    padding: 12px; 
    margin-bottom: 25px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    display: 100%;
    font-size: 16px;
    transition: border .2s, background-color .3s;
} 

.btn-save{
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    transition: border .2s, background-color .3s;
    border: rgb(39, 39, 39);
}

::placeholder {
    color: rgb(39, 39, 39)
}
input:focus::placeholder {
    color: transparent;
    transition: 0.4s;
}

.label-input {
    position: absolute;
    top: 15px;
    left: 25%;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.7s;
    z-index: 0;
}
.imgUpload{
    color: rgb(39, 39, 39);
    font-size: 16px;
    padding-right: 25%;
    border-radius: 10px;
}


input:focus + .label-input {
    top: -7px;
    z-index: 3;
    font-size: 16px;
    font-weight: 600;
    color: black;
    background-color: transparent;
    border-radius: 3px;
}


form .field{
    background-color: whitesmoke;
    width: 60%;
}

.input-select{
    padding-left: 14%;
} 
#ubicacion {
    width: 68%;
    height: 4.5vh;
    border-radius: 3px;
}

#ubi-select {
    text-align: center;
}

.btn-save{
    background-color: rgb(39, 39, 39);
    color: #fff;
    line-height: 25px;
    margin-left: 20%;
    cursor: pointer;
    width: 45%;
    height: 40px;
    margin-top: 25px;
    margin-right: 20%;
    text-align: center;
    
}
.btn-save:hover {
    background-color: #888888;
    border: 2px solid #6e6e6e;
}

.btn-save:active {
    background-color: rgb(39, 39, 39);
    border: 2px solid #6e6e6e;
}


@media (min-width: 361px){

    .input-select {
        width: 102%;
        margin-left: 26px;
    }

    .container{
        margin: 20px auto;
        padding: 5px;
        width: 450px;
        height: 700px;
        background-color: gainsboro;
        border-radius: 10px;
    } 
}